.app {
    font-family: "inter";
}

html {
    scroll-behavior: smooth;
}

.section-header {
    display: flex;
    padding-bottom: 42px;
    width: 100vw;
}

.section-title {
    font-weight: bold;
    font-size: 46px;
}