.companyImg {
    border-radius: 15px;
}

.row {
    padding-bottom: 120px;
}

.link {
    color: var(--theme-page-text);
    font-weight: bold;
}

.link:hover {
    text-decoration: none;
}

.companyName {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 16px;
}

.jobTitle {
    padding-bottom: 16px
}

.companyImgCol {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .companyImgCol {
        padding-bottom: 42px;
    }

    .row {
        padding-bottom: 42px;
    }
}