.logo {
    width: 100%;
    max-width: 125px;
    vertical-align: bottom;
}

.nav {
    padding: 16px 0px !important;
}

.nav button {
    border: none;
}

.changeMode {
    border: none;
    background: none;
}

.modeIcon {
    width: 30px
}

@media (max-width: 575px) {
    .changeMode {
        width:fit-content;
        padding: 0px;
    }
}