.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 30px;
    grid-auto-rows: 1fr;
}

.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.0) 0 0 20px 0;
    margin-bottom: 1em;
    transform: none;
    height: 100%;
    padding: 2em 1.5em;
    background-color: var(--elevated-background);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
    background-color: var(--background-hover);
}

.cardHeader {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.cardHeader svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
}

.cardContent {
    font-size: 18px;
}

.cardTitle {
    font-size: 22px;
    font-weight: bold;
    margin-left: 8px;
}

.cardDesc {
    padding-bottom: 16px;
}

.cardFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.cardFooter svg {
    width: 20px;
    height: 20px;
}

@keyframes nod {
    0% {transform: rotate(0);}
    25% {transform: rotate(45deg);}
    75% {transform: rotate(-45deg);}
    100% {transform: rotate(0);}
}

.cardFooter img:hover {
    animation: nod 1.5s infinite;
}

.cardLang ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding-left: 1em;
}

@media (max-width: 1080px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }